@keyframes shine { 
    0% {
        transform:translateX(-100%) translateY(-100%) rotate(30deg);
    }
    80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
      100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
  }
  

  .logo {
   display: flex;
color: white;
-webkit-text-stroke: 0.4px rgb(88, 19, 152);
text-shadow: rgb(104, 18, 18) 1px 1px 1px;
    text-decoration: none;
width: 100%;
    box-shadow: 1px 2px 2px 1px rgba(9, 0, 0, 1);
border-radius: 5%;
background: radial-gradient(circle at 18.7% 37.8%, #ccc 0%, #999 40%, #777 60%, #999 90%);
border: 1px solid #666;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0%;
  text-align: center;
  font-size: 2rem;

  }

  .prenom {
    display: flex;

    color: white;
    -webkit-text-stroke: 0.4px rgb(88, 19, 152);
    text-shadow: rgb(104, 18, 18) 1px 1px 1px;
        text-decoration: none;
    
        box-shadow: 1px 2px 2px 1px rgba(9, 0, 0, 1);
position: absolute;
top: 28.7vw;


  }

  .descr {
    color: white;
    -webkit-text-stroke: 0.4px rgb(88, 19, 152);
   
    text-decoration: none;
    width: 20vw;
    box-shadow: 1px 2px 2px 1px rgba(9, 0, 0, 1);
    z-index: 500;
    display: flex;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(141, 146, 150);
   
  }
  
  

  .descr2 {
    z-index: 500;
    display: flex;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(15, 14, 14);
   

    }
/* //comment */
  @media (max-width: 900px) {
.logo {
  z-index: 100;
 width: 40%;
position: fixed;
justify-content: center;
top: 7.5%;
left: 30%;
  font-size: 1.5rem;
}
    .descr {
      display: flex;
      text-align: center;
align-items: center;
      top: 59%;
      margin-top: 13%;
      width: 150%;
   margin-left: -2.2%;
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
    animation: fillText 20s linear forwards; 
    text-shadow: rgb(104, 18, 18) 0px 0px 0px;
    }
    @keyframes fillText {
      0% {
        background-size: 0% 100%; 
      }
      100% {
        background-size: 100% 100%; 
      }
    }
    .descr2 {
      display: flex;
      top: 59%;
justify-items: center;
      margin-top: 13%;
        width: 150%;
      
      align-items: center;
      }

    .prenom {
      top: 12vw;
color: black;
text-decoration: none;
    }
  }


 
